* {
  box-sizing: border-box;
  font-family: monospace;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #ea7e01;
}

.card {
  margin: 0 5px;
  background-color: #FFFFFF;
  border-radius: 25%;
}
